<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1"/>
    <link href="css/styles.css" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring Boot Application</title>
</head>
<body>
<h4>Your Entries</h4>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Message</th>
        <th>Created</th>
        <th>Last Updated</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${logEntries}">
        <td><a th:text="${entry.title}" th:href="@{'/retrieve/' + ${entry.id}}">Edit</a></td>
        <td th:text="${entry.body}"/>
        <td th:text="${entry.created}"/>
        <td th:text="${entry.updated}"/>
        <td><a th:href="@{'/delete/' + ${entry.id}}">(X)</a></td>
    </tr>
    </tbody>
</table>

<h4>New Entry</h4>

<form action="#" th:action="@{/add}" th:object="${entry}" method="post">
    <p>Title: <input type="text" th:field="*{title}"/></p>
    <p>Message: <input type="text" th:field="*{body}"/></p>
    <input type="text" hidden="hidden" th:field="*{id}"/>
    <input type="submit" value="Submit"/>
    <a type="submit" th:href="@{/undoDelete/}">Undo</a>
</form>
</body>
</html>