<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Logbook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-1/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="css/styles.css" type="text/css" rel="stylesheet"/>

    <script src="js/scripts.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.2.0/classic/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<!--navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Secure Logbook <i class="icon ion-md-heart"></i></a>
    <i class="icon ion-md-heart"></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active m-1">
                <a class="nav-link" href="#">View<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item m-1">
                <a class="nav-link" href="/add">Add</a>
            </li>
            <li class="nav-item m-1">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container p-4">
    <div class="row justify-content-md-center">
        <div class="col">
            <!--Your List -->
            <h2 class="page-header">Your Entries</h2>
            <table bgcolor="white" class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Created</th>
                    <th>Last Updated</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${logEntries}">
                    <th scope="row" th:text="${entry.title}" />
                    <td><a th:href="@{'/retrieve/' + ${entry.id}}">View</a></td>
                    <td th:text="${entry.created}"/>
                    <td th:text="${entry.updated}"/>
                    <td><a th:href="@{'/delete/' + ${entry.id}}" class="icon ion-md-trash" /></td>
                </tr>
                </tbody>
            </table>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2">
                        <a th:href="@{/undoDelete/}">
                            <button class="btn btn-warning btn-block">Undo</button>
                        </a>
                    </div>
                </div>
            </div>
            <br>

            <!--Add Entry -->
            <h2 class="page-header">Add Entry</h2>
            <form action="#" th:action="@{/add}" th:object="${entry}" method="post">
                <input type="text" hidden="hidden" th:field="*{id}"/>

                <div class="form-group col-lg-3">
                    <input type="text" name="title" class="form-control" th:field="*{title}" placeholder="Title"/>
                </div>

                <div class="form-group col-lg-12">
                    <textarea type="text" id="editor" class="form-control" th:field="*{body}" placeholder="Message"/>
                </div>
                <div class="form-group col-lg-2 col-md-6">
                    <button class="btn btn-primary btn-block">Submit</button>
<!--                    <label class="btn btn-danger btn-block" onclick="reset();">Clear</label>-->
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .catch( error => {
        console.error( error );
    } );

<!-- Initialize Bootstrap functionality -->
// Initialize tooltip component
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

// Initialize popover component
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

</body>
</html>