<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Logbook</title>
    <th:block th:include="fragments :: assets"/>
</head>
<body>
    <div th:replace="fragments :: header"/>
    <div class="container p-4">
        <div class="row justify-content-md-center">
            <div class="col">
                <!--Your List -->
                <h2 class="page-header">Your Entries</h2>
                <table bgcolor="white" class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Message</th>
                        <th>Created</th>
                        <th>Last Updated</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry : ${logEntries}">
                        <th scope="row" th:text="${entry.title}"/>
                        <td><a th:href="@{'/retrieve/' + ${entry.id}}">View</a></td>
                        <td th:text="${entry.created}"/>
                        <td th:text="${entry.updated}"/>
                        <td><a th:href="@{'/delete/' + ${entry.id}}" class="icon ion-md-trash"/></td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2">
                            <a th:href="@{/undoDelete/}">
                                <button class="btn btn-warning btn-block">Undo</button>
                            </a>
                        </div>
                    </div>
                </div>
                <br>

                <!--Add Entry -->
                <h2 class="page-header">Add Entry</h2>
                <form action="#" th:action="@{/add}" th:object="${entry}" method="post">
                    <input type="text" hidden="hidden" th:field="*{id}"/>

                    <div class="form-group col-lg-3">
                        <input type="text" name="title" class="form-control" th:field="*{title}"
                               placeholder="Title"/>
                    </div>

                    <div class="form-group col-lg-12">
                            <textarea type="text" id="editor" class="form-control" th:field="*{body}"
                                      placeholder="Message"/>
                    </div>
                    <div class="form-group col-lg-2 col-md-6">
                        <button class="btn btn-primary btn-block">Submit</button>
                        <!--                    <label class="btn btn-danger btn-block" onclick="reset();">Clear</label>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"/>

    <script type="text/javascript">
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );

        <!-- Initialize Bootstrap functionality -->
        // Initialize tooltip component
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

        // Initialize popover component
        $(function () {
          $('[data-toggle="popover"]').popover()
        })

    </script>

</body>
</html>